@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

input:hover,
a:hover,
.p-button:hover,
.p-button:disabled:hover {
  cursor: none;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    #place-items: center;
    margin-top: 32px;
  }

  #app {
    display: grid;
    padding: 0 2rem;
  }
}

/* Custom CSS */
.bold-text {
  font-weight: bold;
}

.mt-16 {
  margin-top: 16px;
}

.mt-32 {
  margin-top: 32px;
}

.flex {
  display: flex;
}

.buttons-grid {
  display: flex;
  grid-column-gap: 16px;
}



